@{
    Layout = "_Layout";
}

    <!--  header end -->
    <!-- breadcrumb start -->
    <section class="breadcrumb-section p-0">
        <img src="~/assets/images/inner-background.jpg" class="bg-img img-fluid" alt="">
        <div class="container">
            <div class="breadcrumb-content">
                <div>
                    <h2>About Us</h2>
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home"asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb end -->
    <!-- About us section start -->
    <section class="about-main ratio_36">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title-2">
                        <h2>About Us</h2>
                        <p class="font-roboto">Residences can be classified into different type of housing tenure can used for same physical type.</p>
                    </div>
                    <div class="user-about">
                        <div class="row">
                            <div class="col-xl-5 col-lg-7">
                                <div class="about-content">
                                    <h3>We are the <br />expert of communication</h3>
                                    <p class="font-roboto">Decoration is the furnishing of a space with decorative elements, sometimes complemented by advice and practical assistance. sometimes complemented by advice and practical assistance.</p>
                                </div>
                                <div class="about-listing">
                                    <ul>
                                        <li>
                                            <h4>15,801</h4>
                                            <p>Total property</p>
                                        </li>
                                        <li>
                                            <h4>5792</h4>
                                            <p>Agents</p>
                                        </li>
                                        <li>
                                            <h4>3871</h4>
                                            <p>Agency</p>
                                        </li>
                                        <li>
                                            <h4>4791+</h4>
                                            <p>Sold out property</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-7 map-image col-lg-5">
                                <img src="~/assets/images/about/map.png" class="img-fluid bg-img" alt="">
                                <div class="marker-icons">
                                    <ul>
                                        <li><img class="img-fluid marker-1" src="~/assets/images/leaflet/marker-icon.png" alt=""></li>
                                        <li><img class="img-fluid marker-2" src="~/assets/images/leaflet/marker-icon.png" alt=""></li>
                                        <li><img class="img-fluid marker-3" src="~/assets/images/leaflet/marker-icon.png" alt=""></li>
                                        <li><img class="img-fluid marker-4" src="~/assets/images/leaflet/marker-icon.png" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About us section end -->
    <!-- Why choose us section start -->
    <section class="why-choose ratio_40 service-section service-1 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title-2">
                        <h2>Why choose us</h2>
                        <p class="font-roboto">
                            Elegant retreat in Coral Gables setting. This home provides entertaining spaces with
                            kitchen opening
                        </p>
                    </div>
                    <div class="row property-service column-space">
                        <div class="col-xl-4 col-md-6">
                            <div class="service-box">
                                <div class="icon-round">
                                    <i data-feather="activity"></i>
                                </div>
                                <h3>Tax Advantage</h3>
                                <p>Residences can be classified by and how they are connected to neighbouring residences and land</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="service-box">
                                <div class="icon-round">
                                    <i data-feather="home"></i>
                                </div>
                                <h3>Property Insurance</h3>
                                <p>Residences can be classified by and how they are connected to neighbouring residences and land.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6">
                            <div class="service-box">
                                <div class="icon-round">
                                    <i data-feather="dollar-sign"></i>
                                </div>
                                <h3>Lowest Commission</h3>
                                <p>Residences can be classified by and how they are connected to neighbouring residences and land.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Why choose us section end -->
    <!-- brand 1 start -->
    <section class="small-section brand-wrap">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="slide-2 brand-slider">
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="~/assets/images/brand/6.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="~/assets/images/brand/7.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="~/assets/images/brand/8.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="~/assets/images/brand/9.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="~/assets/images/brand/10.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="~/assets/images/brand/11.png" alt="" class="img-fluid">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="logo-box">
                                <img src="../assets/images/brand/7.png" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- brand 1 end -->
    <!-- footer start -->
   
    </div>
    <!-- customizer end -->
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <!-- popper js-->
    <script src="~/assets/js/popper.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!-- wow js-->
    <script src="~/assets/js/wow.min.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/feather-icon/feather.min.js"></script>
    <script src="~/assets/js/feather-icon/feather-icon.js"></script>

    <!-- tilt js-->
    <script src="`/assets/js/tilt.jquery.js"></script>

    <!-- slick js -->
    <script src="~/assets/js/slick.js"></script>
    <script src="~/assets/js/slick-animation.min.js"></script>
    <script src="~/assets/js/custom-slick.js"></script>

    <!-- Template js-->
    <script src="~/assets/js/script.js"></script>

    <!-- Customizer js-->
    <script src="~/assets/js/customizer.js"></script>

    <!-- Color-picker js-->
    <script src="~/assets/js/color/template-color.js"></script>


