@{
    ViewData["Title"] = "Home Page";
}

<head>


</head>

<body>


    <!-- home section start -->
    <section class="home-section layout-1 layout-6">
        <div class="home-main">
            <div class="container" >
                <div class="row" >
                    <div class="col-lg-12">
                        <div class="container">
                            <div class="home-left">
                                <div>
                                    <div class="home-slider-1 arrow-light slick-shadow">
                                        <div>
                                            <div class="home-content">
                                                <div>
                                                    <img src="~/assets/images/signature/2.png" class="img-fluid m-0"
                                                         alt="">
                                                    <h6>Want to buy or rent Home ?</h6>
                                                    <h1>Reality Properties solve your problems</h1>
                                                    <a href="submit-property.html"
                                                       class="btn btn-gradient color-6">
                                                        submit
                                                        property
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="home-content">
                                                <div>
                                                    <img src="~/assets/images/signature/2.png" class="img-fluid m-0"
                                                         alt="">
                                                    <h6>Want to buy or sell Land ?</h6>
                                                    <h1>Elegant retreat in quiet Coral Gables</h1>
                                                    <a href="submit-property.html"
                                                       class="btn btn-gradient color-6">
                                                        submit
                                                        property
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- home section end -->
    <!-- property section start -->
    <section class="property-section slick-between slick-shadow property-color-6">
        <div class="container">
            <div class="row ratio_landscape">
                <div class="col">
                    <div class="title-1 color-6">
                        <span class="label label-gradient color-6">Sale</span>
                        <h2>Latest For Sale</h2>
                        <hr>
                    </div>
                    <div class="listing-hover-property row">
                        <div class="col-xl-4 col-md-6 wow fadeInUp">
                            <div class="property-box">
                                <div class="property-image">
                                    <a href="javascript:void(0)">
                                        <img src="../assets/images/others/1.jpg" class="bg-img" alt="">
                                        <div class="labels-left">
                                            <span class="label label-shadow">Sale</span>
                                        </div>
                                    </a>
                                    <div class="bottom-property">
                                        <div class="d-flex">
                                            <div>
                                                <h5><a href="Propertydetails.html">Neverland</a></h5>
                                                <h6>$13,000 <small>/ start from</small></h6>
                                            </div>
                                            <button type="button" class="btn btn-gradient color-6 mt-3" onclick="document.location='Propertydetails.html'">Details</button>
                                        </div>
                                        <div class="overlay-option">
                                            <ul>
                                                <li>
                                                    <span>Beds</span>
                                                    <h6>2</h6>
                                                </li>
                                                <li>
                                                    <span>Baths</span>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <span>Balcony</span>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <span>Area</span>
                                                    <h6>120m<sup>2</sup></h6>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="property-box">
                                <div class="property-image">
                                    <a href="javascript:void(0)">
                                        <img src="../assets/images/1.jpg" class="bg-img" alt="">
                                        <div class="labels-left">
                                            <div>
                                                <span class="label label-dark">no fees</span>
                                            </div>
                                            <span class="label label-success">open house</span>
                                        </div>
                                    </a>
                                    <div class="bottom-property">
                                        <div class="d-flex">
                                            <div>
                                                <h5><a href="Propertydetails.html">Orchard House</a></h5>
                                                <h6>$14,520 <small>/ start from</small></h6>
                                            </div>
                                            <button type="button" class="btn btn-gradient color-6 mt-3" onclick="document.location='Propertydetails.html'">Details</button>
                                        </div>
                                        <div class="overlay-option">
                                            <ul>
                                                <li>
                                                    <span>Beds</span>
                                                    <h6>2</h6>
                                                </li>
                                                <li>
                                                    <span>Baths</span>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <span>Balcony</span>
                                                    <h6>2</h6>
                                                </li>
                                                <li>
                                                    <span>Area</span>
                                                    <h6>480m<sup>2</sup></h6>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="property-box">
                                <div class="property-image">
                                    <a href="javascript:void(0)">
                                        <img src="../assets/images/3.jpg" class="bg-img" alt="">
                                        <div class="labels-left">
                                            <span class="label label-shadow">Sold</span>
                                        </div>
                                    </a>
                                    <div class="bottom-property">
                                        <div class="d-flex">
                                            <div>
                                                <h5><a href="Propertydetails.html">Sea Breezes</a></h5>
                                                <h6>$12,200 <small>/ start from</small></h6>
                                            </div>
                                            <button type="button" class="btn btn-gradient color-6 mt-3" onclick="document.location='Propertydetails.html'">Details</button>
                                        </div>
                                        <div class="overlay-option">
                                            <ul>
                                                <li>
                                                    <span>Beds</span>
                                                    <h6>2</h6>
                                                </li>
                                                <li>
                                                    <span>Baths</span>
                                                    <h6>1</h6>
                                                </li>
                                                <li>
                                                    <span>Balcony</span>
                                                    <h6>0</h6>
                                                </li>
                                                <li>
                                                    <span>Area</span>
                                                    <h6>220m<sup>2</sup></h6>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- property section end -->
    <!-- property section start -->
    <section class="property-section property-color-6">
        <div class="container">
            <div class="row ratio_55">
                <div class="col">
                    <div class="title-1 color-6">
                        <span class="label label-gradient color-6">Rent</span>
                        <h2>Properties</h2>
                        <hr>
                    </div>
                    <div class="property-2 row column-space color-6">
                        <div class="col-xl-4 col-md-6 wow fadeInUp">
                            <div class="property-box">
                                <div class="property-image">
                                    <div class="property-slider color-6">
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/22.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/16.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/21.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/23.jpg" class="bg-img" alt="">

                                        </a>
                                    </div>
                                    <div class="labels-left">
                                        <div>
                                            <span class="label label-shadow">sale</span>
                                        </div>
                                    </div>
                                    <div class="seen-data">
                                        <i data-feather="camera"></i>
                                        <span>10</span>
                                    </div>
                                    <div class="overlay-property-box">
                                        <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                            <i data-feather="shuffle"></i>
                                        </a>
                                        <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="property-details">
                                    <span class="font-roboto">France</span>
                                    <a href="Propertydetails.html">
                                        <h3>Little Acorn Farm</h3>
                                    </a>
                                    <h6 class="color-6">$6558.00*</h6>
                                    <p class="font-roboto">Real estate is divided into several categories, including residential property, commercial property and industrial property.</p>
                                    <ul>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="">Bed : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="">Baths : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                    </ul>
                                    <div class="property-btn d-flex">
                                        <span>August 4, 2022</span>
                                        <button type="button" onclick="document.location='Propertydetails.html'" class="btn btn-dashed btn-pill color-6">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 wow fadeInUp">
                            <div class="property-box">
                                <div class="property-image">
                                    <div class="property-slider color-6">
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/23.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/21.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/16.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/22.jpg" class="bg-img" alt="">

                                        </a>
                                    </div>
                                    <div class="labels-left">
                                        <div>
                                            <span class="label label-shadow">sale</span>
                                        </div>
                                    </div>
                                    <div class="seen-data">
                                        <i data-feather="camera"></i>
                                        <span>42</span>
                                    </div>
                                    <div class="overlay-property-box">
                                        <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                            <i data-feather="shuffle"></i>
                                        </a>
                                        <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="property-details">
                                    <span class="font-roboto">usa</span>
                                    <a href="Propertydetails.html">
                                        <h3>Home in Merrick Way</h3>
                                    </a>
                                    <h6 class="color-6">$4513.00*</h6>
                                    <p class="font-roboto">This home provides wonderful entertaining spaces with a chef kitchen opening. Elegant retreat in a quiet Coral Gables setting..</p>
                                    <ul>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="">Bed : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="">Baths : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                    </ul>
                                    <div class="property-btn d-flex">
                                        <span>December 1, 2022</span>
                                        <button type="button" onclick="document.location='Propertydetails.html'" class="btn btn-dashed btn-pill color-6">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 wow fadeInUp">
                            <div class="property-box">
                                <div class="property-image">
                                    <div class="property-slider color-6">
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/21.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/22.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/23.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/16.jpg" class="bg-img" alt="">

                                        </a>
                                    </div>
                                    <div class="labels-left">
                                        <div>
                                            <span class="label label-shadow">sale</span>
                                        </div>
                                    </div>
                                    <div class="seen-data">
                                        <i data-feather="camera"></i>
                                        <span>25</span>
                                    </div>
                                    <div class="overlay-property-box">
                                        <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                            <i data-feather="shuffle"></i>
                                        </a>
                                        <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="property-details">
                                    <span class="font-roboto">France</span>
                                    <a href="Propertydetails.html">
                                        <h3>Allen's Across Way</h3>
                                    </a>
                                    <h6 class="color-6">$6558.00*</h6>
                                    <p class="font-roboto">
                                        Elegant retreat in a quiet Coral Gables setting. This home provides wonderful entertaining spaces with a chef
                                        kitchen opening…
                                    </p>
                                    <ul>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="">Bed : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="">Baths : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                    </ul>
                                    <div class="property-btn d-flex">
                                        <span>June 20, 2022</span>
                                        <button type="button" onclick="document.location='Propertydetails.html'" class="btn btn-dashed btn-pill color-6">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 wow fadeInUp">
                            <div class="property-box">
                                <div class="property-image">
                                    <div class="property-slider color-6">
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/16.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/21.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/22.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/23.jpg" class="bg-img" alt="">

                                        </a>
                                    </div>
                                    <div class="labels-left">
                                        <div>
                                            <span class="label label-shadow">sale</span>
                                        </div>
                                    </div>
                                    <div class="seen-data">
                                        <i data-feather="camera"></i>
                                        <span>09</span>
                                    </div>
                                    <div class="overlay-property-box">
                                        <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                            <i data-feather="shuffle"></i>
                                        </a>
                                        <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="property-details">
                                    <span class="font-roboto">usa</span>
                                    <a href="Propertydetails.html">
                                        <h3>Hidden Spring Hideway</h3>
                                    </a>
                                    <h6 class="color-6">$4513.00*</h6>
                                    <p class="font-roboto">The most common and most absolute type of estate, the tenant enjoys the greatest discretion over the disposal of the property.</p>
                                    <ul>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="">Bed : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="">Baths : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                    </ul>
                                    <div class="property-btn d-flex">
                                        <span>January 6, 2022</span>
                                        <button type="button" onclick="document.location='Propertydetails.html'" class="btn btn-dashed btn-pill color-6">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 wow fadeInUp">
                            <div class="property-box">
                                <div class="property-image">
                                    <div class="property-slider color-6">
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/24.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/22.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/16.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/23.jpg" class="bg-img" alt="">

                                        </a>
                                    </div>
                                    <div class="labels-left">
                                        <div>
                                            <span class="label label-shadow">sale</span>
                                        </div>
                                    </div>
                                    <div class="seen-data">
                                        <i data-feather="camera"></i>
                                        <span>25</span>
                                    </div>
                                    <div class="overlay-property-box">
                                        <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                            <i data-feather="shuffle"></i>
                                        </a>
                                        <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="property-details">
                                    <span class="font-roboto">usa</span>
                                    <a href="Propertydetails.html">
                                        <h3>Merrick in Spring Way</h3>
                                    </a>
                                    <h6 class="color-6">$4513.00*</h6>
                                    <p class="font-roboto">Real estate market in most countries are not as organize or efficient as markets for other, more liquid investment instruments.</p>
                                    <ul>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="">Bed : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="">Baths : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                    </ul>
                                    <div class="property-btn d-flex">
                                        <span>December 1, 2022</span>
                                        <button type="button" onclick="document.location='Propertydetails.html'" class="btn btn-dashed btn-pill color-6">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 wow fadeInUp">
                            <div class="property-box">
                                <div class="property-image">
                                    <div class="property-slider color-6">
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/25.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/24.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/22.jpg" class="bg-img" alt="">

                                        </a>
                                        <a href="javascript:void(0)">
                                            <img src="../assets/images/property/16.jpg" class="bg-img" alt="">

                                        </a>
                                    </div>
                                    <div class="labels-left">
                                        <div>
                                            <span class="label label-dark">no fees</span>
                                        </div>
                                        <span class="label label-success">open house</span>
                                    </div>
                                    <div class="seen-data">
                                        <i data-feather="camera"></i>
                                        <span>42</span>
                                    </div>
                                    <div class="overlay-property-box">
                                        <a href="compare.html" class="effect-round" data-bs-toggle="tooltip" data-bs-placement="left" title="Compare">
                                            <i data-feather="shuffle"></i>
                                        </a>
                                        <a href="user-favourites.html" class="effect-round like" data-bs-toggle="tooltip" data-bs-placement="left" title="wishlist">
                                            <i data-feather="heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="property-details">
                                    <span class="font-roboto">brazil</span>
                                    <a href="Propertydetails.html">
                                        <h3>Hidden Spring Hideway</h3>
                                    </a>
                                    <h6 class="color-6">$9554.00*</h6>
                                    <p class="font-roboto">An interior designer is someone who plans,researches,coordinates,management and manages such enhancement projects.</p>
                                    <ul>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/double-bed.svg" class="img-fluid" alt="">Bed : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/bathroom.svg" class="img-fluid" alt="">Baths : 4</li>
                                        <li><img src="https://themes.pixelstrap.com/sheltos/assets/images/svg/icon/square-ruler-tool.svg" class="img-fluid ruler-tool" alt="">Sq Ft : 5000</li>
                                    </ul>
                                    <div class="property-btn d-flex">
                                        <span>July 18, 2022</span>
                                        <button type="button" onclick="document.location='Propertydetails.html'" class="btn btn-dashed btn-pill color-6">Details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- property section end -->
    <!-- footer start -->
  


</body>


<!-- Mirrored from themes.pixelstrap.com/sheltos/main/layout-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 15 Jun 2025 09:45:32 GMT -->
</